body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 64px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    color: #9b9b9b;
}

.navbar__logo img  {
    width: 32px;
}

.navbar__logo h1 span {
    font-weight: lighter;
}

.navbar__menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.navbar__menu li {
    margin-left: 16px;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
    
}

.banner img {
    margin: 32px 24px;
    max-width: 60%;
}

.banner__text {
    width: 310px;
}

.information {
    display: flex;
    margin: 32px 0;
}

.information__left {
    width: 60%;
    margin: 0 24px;
}

.information__left img {
    width: 100%;
}

.card:last-child {
    background-color: #d8d8d8;
}

.card {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #d8d8d8;
}

.card img {
    width: 35%;
}

.card__text {
    margin-left: 16px;
}

.card__text p {
    margin-top: 0;
    margin-bottom: 8px;
}

.card__text h3 {
    margin-bottom: 8px;
}

.card a {
    color:#4A90E2;
    text-decoration: none;
}
